/*body {*/
    /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-size: 12px;*/
/*}*/

.modal-header {
    padding: 12px;
}

.modal-footer {
    padding: 10px 10px 10px;
}

.scrollable {
    overflow-x: auto;
}

small, .small {
    font-size: 85%;
}

.text-uc {
    text-transform: uppercase;
}